.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid orange;

}
.taskElement{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-width: 0;
    max-width: 92%;
    overflow: clip;
    gap: 1rem;
}
.taskElement .undone {
    font-size: 13px;
    word-wrap: break-word;
    color: white;
}
.taskElement .done{
    font-size: 13px;
    word-wrap: break-word;
    text-decoration: line-through solid red;
    color : #7272a8;
}
.taskElement title

.container .itemText {
    color: orange;
}

.deleteButton{
    padding: 10px;
}
